h1{
    color: darkturquoise;
    background-color: tomato;
    font-size: 30px;
}

#Nazik{
    color: darkcyan;
    background-color: chocolate;
    font-size: 70px;
}

.Azazel{
    color: mediumaquamarine;
    background-color: midnightblue;
    font-size: 40px
}

#Seraphim{
    color: teal;
    background-color: coral;
    font-size: 73px;
}

.Hadiya{
    color: blue;
    background-color: rgb(255, 0, 0);
    font-size: 83px;
}

#Salima{
    color: darkmagenta;
    background-color: midnightblue;
    font-size: 54px;
}

.Ibrahim{
    color: crimson;
    background-color: cadetblue;
    font-size: 61px;
}