body{
    background-color: #e5e5e5;
}

.container{
    width: 800px;
    height: 500px;
    margin: 50px auto;
    border: 10px dashed black ;
    border-radius: 40px;
    display:flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 0px;
}

.box{
    width: 100px;
    height: 100px;
    background: black;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}